.buttonDiv {
    border-radius:20px;
    border: 1px solid black;
    display : inline-block;
    width : 20px;
    height: 20px;
    margin-left : 7px;
    background-color : #faf1d7;
    padding: 0px;
}

.buttonDiv:hover {
    background-color : #fadd93;
}

.buttonDiv:active {
    background-color : #c2a861;
}